<%- include('./partials/head') %>

<div class="galleri-container">
    <div class="galleri">
        <img src="image1.jpg" alt="Image 1" class="gallery-image">
    </div>
    <p class="image-hosting-info">
        Disse bildene er hosta på 10.12.14.250 fori ja. Vi hoster dem fordi sjefen sier at i må det. Det er oppgave marathon og jeg vil ha toppkarakter, derfor gjør jeg dette.
    </p>
</div>

<%- include('./partials/foot') %>
