<%- include('./partials/head') %>
<div class="greetings">
    <% greetings.forEach(greeting => { %>
        <p><%= greeting.message %></p>
    <% }) %>
</div>
<form action="/logout" method="POST">
    <button type="submit">Logg ut</button>
</form>
<%- include('./partials/foot') %>
